@inherits LayoutComponentBase

<PageTitle>WebCmd.App</PageTitle>


<div class="d-flex" style="height: 100vh;">
    <div class="col col-auto px-sm-0 col-md-0 col-lg-0 col-xl-0 col-xxl-2 px-0 bg-dark">
        <NavMenu/>
    </div>
    <div class="col" style="overflow-y: auto; max-height: 90vh;">
        @(Body)
    </div>
</div>